{% load static %}
<answer class="card mt-3">
    <div class="row g-0">
        <div class="col-auto p-4">
            <div class="mb-3" style="width: 64px; height: 64px; margin: auto;">
                <img src="{{ item.user.profile.avatar.url }}" class="img-fluid rounded-circle answer-avatar" alt="avatar" />
            </div>
            <div class="d-flex">
                <button type="button" class="upvote bi bi-arrow-up-short btn btn-sm btn-light fs-5 p-0" data-action="upvote">
                    <img src="{% static "icons/arrow-up-short.svg" %}" width="25" height="25" />
                </button>
                <div class="ms-2 me-2" style="display: flex; align-items: center; font-size: 18px; font-weight: 500;">
                    <span class="score" data-component="answer" data-component-id="{{ item.id }}">{{ item.score }}</span>
                </div>
                <button type="button" class="downvote bi bi-arrow-down-short btn btn-sm btn-light fs-5 p-0" data-action="downvote">
                    <img src="{% static "icons/arrow-down-short.svg" %}" width="25" height="25" />
                </button>
            </div>
        </div>
        <div class="col">
            <div class="card-body ps-0" id="{{ item.id }}">
                <p class="card-text">{{ item.content }}</p>
                <div class="form-check">
                    <input
                        class="form-check-input answer-checkbox" type="checkbox" data-answer-id="{{ item.id }}" value="" id="answer-{{ item.id }}"
                        {% if request.user != item.question.user %}
                            disabled
                        {% endif %}
                        {% if item.is_correct %}
                            checked
                        {% endif %} 
                    >
                    <label class="form-check-label text-body-secondary" for="answer-{{ item.id }}">correct</label>
                </div>
            </div>
        </div>
    </div>
</answer>
