{% load static %}
<answer class="card mt-3">
    <div class="row g-0">
        <div class="col-auto p-4">
            <div class="mb-3" style="width: 64px; height: 64px; margin: auto;">
                <img src="{{ item.user.profile.avatar.url }}" class="img-fluid rounded-circle" alt="avatar" />
            </div>
            <div class="d-flex">
                <button type="button" class="bi bi-arrow-up-short btn btn-sm btn-light fs-5 p-0">
                    <img src="{% static "icons/arrow-up-short.svg" %}" width="25" height="25" />
                </button>
                <div class="ms-2 me-2" style="display: flex; align-items: center; font-size: 18px; font-weight: 500;">{{ item.score }}</div>
                <button type="button" class="bi bi-arrow-down-short btn btn-sm btn-light fs-5 p-0">
                    <img src="{% static "icons/arrow-down-short.svg" %}" width="25" height="25" />
                </button>
            </div>
        </div>
        <div class="col">
            <div class="card-body ps-0" id="{{ item.id }}">
                <p class="card-text">{{ item.content }}</p>
                <div class="form-check">
                    {% if request.user == item.user %}
                        {% if item.is_correct %}
                            <input class="form-check-input answer-checkbox" type="checkbox" data-answer-id="{{ item.id }}" value="" id="answer-{{ item.id }}" checked>
                        {% else %}
                            <input class="form-check-input answer-checkbox" type="checkbox" data-answer-id="{{ item.id }}" value="" id="answer-{{ item.id }}">
                        {% endif %}
                    {% else %}
                        {% if item.is_correct %}
                            <input class="form-check-input answer-checkbox" type="checkbox" data-answer-id="{{ item.id }}" value="" id="answer-{{ item.id }}" checked disabled>
                        {% else %}
                            <input class="form-check-input answer-checkbox" type="checkbox" data-answer-id="{{ item.id }}" value="" id="answer-{{ item.id }}" disabled>
                        {% endif %}
                    {% endif %}
                    <label class="form-check-label text-body-secondary" for="answer-{{ item.id }}">correct</label>
                </div>
            </div>
        </div>
    </div>
</answer>