.tag {
    display: inline-block;
    background-color: #ddf4ff;
    color: #0a69da;
    border: none;
    border-radius: 13px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    padding: 2px 10px;
    margin-top: 5px;
}

.tag:hover {
    background-color: #0a69da;
    color: #ffffff;
}