{% extends "layouts/base.html" %}

{% load bootstrap5 %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div style="width: 400px">
            <h1 class="text-center">Sign Up</h1>
            <form method="post" enctype="multipart/form-data" class="mt-3">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary mt-1 w-100">Sign Up</button>
            </form>
            <div class="mt-4">
                <span>Already have an account? <a href="{% url "login" %}" class="link">Log In</a></span>
            </div>
        </div>
    </div>
{% endblock %}